HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse / STS
.settings/
.apt_generated
.classpath
.factorypath
.project
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Datos sensibles ###
api_test_report.html
scripts/test_api_report.sh
src/main/java/com/edu/manager/security/JwtUtil.java

### Logs ###
*.log
logs/

### Sistema operativo ###
.DS_Store
Thumbs.db

# Configuración local 
application-local.properties
.env

# Otros temporales 
*.tmp
*.bak
*.swp
