<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Estudiante - EduManager</title>
</head>
<body>

    <h2>Agregar Estudiante</h2>

    <form th:action="@{/estudiantes/guardar}" th:object="${estudiante}" method="post">
        <label>Nombre: <input type="text" th:field="*{nombre}"/></label><br/><br/>
        <label>Apellido: <input type="text" th:field="*{apellido}"/></label><br/><br/>
        <label>Email: <input type="email" th:field="*{email}"/></label><br/><br/>
        <button type="submit">Guardar</button>
        <a th:href="@{/estudiantes}">Cancelar</a>
    </form>

</body>
</html>